@code {
    [Parameter] public EventCallback<string> OnSearch { get; set; }
    private string searchTerm = "";
    private Guid inputKey = Guid.NewGuid();

    private async Task Search()
    {
        await OnSearch.InvokeAsync(searchTerm);
    }
}

<div class="search-bar">
    <input type="text" placeholder="Search..." @bind="searchTerm" @bind:event="oninput"  @key="inputKey" />
    <button @onclick="Search">
        <i class="fas fa-search"></i>
    </button>
</div>