@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
            <Header></Header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<footer class="blazor-footer">
    <div class="container">
        <span class="text-muted">
            <span class="pro-text">Pro</span><span class="supply-text">Supply</span>
            © 2025 CSE 325 Team 12 Project.
        </span>
    </div>
</footer>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
