/* _content/CSE_325_group_project/Components/Layout/Header.razor.rz.scp.css */
.background-image-container[b-7fil1qll5u] {
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1565008447742-97f6f38c985c?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    padding: 10rem;
    z-index: -2;
}

.background-image-container[b-7fil1qll5u]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(21, 20, 20, 0.5);
    z-index: -1;
}

.top-nav[b-7fil1qll5u] {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    /* Space between the two elements */
    align-items: center;
    width: 100%;
    padding: 20px;
}

.top-nav h2[b-7fil1qll5u] {
    font-size: 2rem;
    color: white;
    margin: 0;
    /* Remove any default margins */
}

.login-btn[b-7fil1qll5u] {
    background-color: #2c3e50;
    color: white;
    font-size: 18px;
    padding: 14px 30px;
    border: 1px solid transparent;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.login-btn:hover[b-7fil1qll5u] {
    background-color: #34495e;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-btn:focus[b-7fil1qll5u] {
    outline: none;
    box-shadow: 0 0 0 3px rgba(46, 204, 113, 0.5);
}

.back-btn[b-7fil1qll5u] {
    background-color: transparent;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.back-btn:hover[b-7fil1qll5u] {
    text-decoration: underline;
}
/* _content/CSE_325_group_project/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-ivq1ct8xhc] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ivq1ct8xhc] {
    flex: 1;
}

.sidebar[b-ivq1ct8xhc] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-ivq1ct8xhc] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ivq1ct8xhc]  a, .top-row[b-ivq1ct8xhc]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-ivq1ct8xhc]  a:hover, .top-row[b-ivq1ct8xhc]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-ivq1ct8xhc]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-ivq1ct8xhc] {
        justify-content: space-between;
    }

    .top-row[b-ivq1ct8xhc]  a, .top-row[b-ivq1ct8xhc]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ivq1ct8xhc] {
        flex-direction: row;
    }

    .sidebar[b-ivq1ct8xhc] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ivq1ct8xhc] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-ivq1ct8xhc]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-ivq1ct8xhc], article[b-ivq1ct8xhc] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-ivq1ct8xhc] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-ivq1ct8xhc] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/CSE_325_group_project/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-eoz70oxa56] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem;
    transition: all 0.3s ease;
}

.navbar-brand h1[b-eoz70oxa56] {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .5px;
    margin-bottom: .5rem;
}

.supply[b-eoz70oxa56] {
    font-weight: 400;
    color: #7492AF;
    margin-left: 0.2rem;
}

.navbar-brand h1:hover .supply[b-eoz70oxa56] {
    color: #A4B8A1;
}
.sidebar-modern[b-eoz70oxa56], .top-row.navbar[b-eoz70oxa56] {
    background-color: #1F2937;
    color: white;
    padding-top: 1rem;
}

.sidebar-modern .nav-item[b-eoz70oxa56] {
    transition: background 0.3s ease-in-out;
    position: relative;
}

.sidebar-modern .nav-link[b-eoz70oxa56] {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-radius: 6px;
    transition: background 0.3s ease-in-out, color 0.2s;
}

.sidebar-modern .nav-link:hover[b-eoz70oxa56] {
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.sidebar-modern .nav-text[b-eoz70oxa56] {
    margin-left: 0.75rem;
    font-size: 0.95rem;
}

.sidebar-modern .badge[b-eoz70oxa56] {
    background-color: red;
    color: white;
    font-size: 0.75rem;
    padding: 0.2rem 0.6rem;
    border-radius: 12px;
    margin-left: auto;
}

/* Icons */
.bi[b-eoz70oxa56] {
    font-size: 1.25rem;
}

.navbar-toggler:checked[b-eoz70oxa56] {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .2rem;
    transition: background 0.3s ease, background-image 0.3s ease;
}

.top-row[b-eoz70oxa56] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-eoz70oxa56] {
    font-size: 1.1rem;
}

.bi[b-eoz70oxa56] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-eoz70oxa56] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.nav-item[b-eoz70oxa56] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-eoz70oxa56] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-eoz70oxa56] {
        padding-bottom: 1rem;
    }

    .nav-item[b-eoz70oxa56]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        width: 100%;
    }

.nav-item[b-eoz70oxa56]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-eoz70oxa56]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-eoz70oxa56] {
    display: none;
    transition: opacity 0.3s ease, transform 0.4s ease;
}

.navbar-toggler:checked ~ .nav-scrollable[b-eoz70oxa56] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-eoz70oxa56] {
        display: none;
    }

    .nav-scrollable[b-eoz70oxa56] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
